body,html{
    height: 100%;
    width: 100%;
}

/*contenedor del login*/
.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*formulario con clase login dentro de main-container (login.php)
section hero-body (404.php)*/
.main-container > .login,
.main-container > .hero-body{
    height: auto;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
}

/*formularios en linea*/
.form-inline {
    display: inline-flex;
}